.git
node_modules
vendor
backend/vendor
backend/storage/*.log
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/.env
.env
dist
build
.antigravity
.gemini
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
